html {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 1024px;
    height: 768px;
    background: gray;
}

#pane {
    height: 100%;
    background: red;
    width: 400px;
    overflow: hidden;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

